version: "3.8"
services:
  db:
    image: postgres
    container_name: "container-postgres"
    environment:
      # DB_HOST: db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: bancoDsc
    restart: always
    volumes:
     - ./DockerfileBancoNovo/banco:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - minha-rede  
  # autenticacao:
  #   build:
  #     context: "micro_usuario"
  #     dockerfile: Dockerfile
  #   container_name: "container-micro"
  #   restart: always
  #   ports:
  #    - "3000:3000" 
  #   volumes:
  #    - ./micro_usuario:/app 
  #   environment:
  #     - FLASK_APP=micro.py  
  #     - FLASK_ENV=development
  #     - FLASK_DEBUG=1
  #   networks:
  #     - minha-rede  
  #   depends_on:
  #     - db  
  api:
    build:
      context: "api"
      dockerfile: Dockerfile
    container_name: "container-flask"
    restart: always
    ports:
     - "5000:5000" 
    volumes:
     - ./api:/app 
    environment:
      - FLASK_APP=api.py  
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    networks:
      - minha-rede  
    depends_on:
      - db
  web:
    build: "./front"
    container_name: "container-web" 
    restart: always
    ports:
      - "80:80"
    volumes:
     - ./front:/var/www/html 
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
    depends_on:
      # - autenticacao
      - api
    networks:
      - minha-rede        
networks:
  minha-rede:   
